# Hailey Weinschenk - WSH - R&D Analyst  Questionnaire - March, 2023

# 1.

After the season has ended, you are told a 90-win team played a home game against an 80-win
team. Without additional information about the two teams, what is the probability that the
home team won?

# 2.

**Suppose you are starting an MLB team from scratch and can pick from the following cores of
players including their current contracts. Which would you pick and why?**

**A. Vladimir Guerrero Jr., Bo Bichette, and Alek Manoah**

**B. Jose Ramirez, Andres Gimenez, and Steven Kwan**

Before anything else, it must be said that a GM or team president cannot go wrong with either of these cores, which are both teeming with talent and youth. It is for this reason that the Jays and Guardians are thought of as amongst the most exciting, young teams in the MLB. With this being said however, let us break down these cores player-by-player with the simplest measures of performance for their 2022 seasons:
- Vlad Guerrero Jr: 
    - Age 24
    - .274/.339/.480 slash 
    - 32 HR 97 RBI 8 SB
    - 3.7 oWAR -0.7 dWAR
    - Arb Eligible: 2024 Free Agent: 2026 
- Bo Bichette
    - Age 25
    - .290/.333/.469
    - 24 HR 93 RBI 13 SB
    - 5.4 oWAR	0.8 dWAR
    - Signed thru 2025, 3 yrs/$33.6M (23-25) 
- Alec Manoah
    - Age 23
    - 196.2 IP 180 SO 2.24 ERA
    - 6.0 dWAR
    - Arb Eligible: 2025   Free Agent: 2028 
    
Perhaps the most striking thing about these seasons is the sheer production of all three players relative to their contracts.

# 3.

# 4.

**Suppose Barry Bonds comes out of retirement and is back to his peak 2001 level, but there’s one
hitch: at his age, he’s only able to hit for one PA per game. He’s currently a free agent, and you
work for a contending team.**

**How would you quantify his value in a single plate appearance? What ingredients would you
need to help you calculate this? How could you then determine when you expect him to bat?**

**Next, how would you quantify Bonds’ value to your club? Describe your methodology in detail,
including any assumptions and information you would need.**

This interesting thought experiment . Perhaps

# 5.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

db_connection_str = 'mysql+pymysql://root:furcal123@localhost:3306/nats'
db_connection = create_engine(db_connection_str)

game_lookup = pd.read_sql_table('game_lookup',con= db_connection)
player_lookup =  pd.read_sql_table('player_lookup',con= db_connection)
pitches =  pd.read_sql_table('pitches',con= db_connection)

game_lookup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_id       0 non-null      int64
 1   game_date     0 non-null      datetime64[ns]
 2   home_team_id  0 non-null      int64
 3   away_team_id  0 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 0.0+ bytes

In [2]:
from names_dataset import NameDataset

names = NameDataset(load_first_names=True,load_last_names=True)

mx_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'MX')
mx_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'MX')

us_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'US')
us_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'US')

jp_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'JP')
jp_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'JP')

In [3]:
import itertools
import random
import re

random.seed(11)

def randomize_names(firsts,lasts,nation_code):
    a =random.sample(list(itertools.product(list(firsts[nation_code]['M']),list(lasts[nation_code]))),200)
    unpacked = []
    for a_tup in a:
        new = f'{a_tup[0]} {a_tup[1]}' 
        if( re.search(r"[^\x00-\x7F]+", new)):
            pass
        else:
            unpacked.append(new)
    return unpacked

In [4]:
us_names = randomize_names(us_first,us_last,'US')
jp_names = randomize_names(jp_first,jp_last,'JP')
mx_names = randomize_names(mx_first,mx_last,'MX')

all_names = us_names + jp_names + mx_names

random.shuffle(all_names)

In [5]:
player_lookup['name'] = all_names
player_lookup['player_id'] = range(1,501)

Among pitchers who threw at least 10 innings in 2019,

    174 are left-handed
    472 are right-handed

That makes 26.9% left-handed.

In [6]:
throws = []
for i in range(0,500):
    rand = random.randint(0,9999)
    if(rand <= 2600):
        throws.append('L')
    elif(rand >2600):
        throws.append('R')
    else:
        throws.append('S') # switch pitcher 1 in a 10000
        
player_lookup['throws'] = throws

In [7]:
player_lookup

     player_id             name throws
0            1  Yaya Delgadillo      R
1            2   Geronimo Bello      R
2            3     Milton Grant      R
3            4          Edy Bee      R
4            5    Carlitos Hdez      L
..         ...              ...    ...
495        496     Felix Gordon      R
496        497    Job Hernandez      L
497        498        Shin Sano      R
498        499   Darnell Barber      R
499        500   Basilio Torres      R

[500 rows x 3 columns]

The Major League Baseball (MLB) season schedule generally consists of 162 games for each of the 30 teams in the American League (AL) and National League (NL), played over approximately six months – a total of 2,430 games, p`,

In [8]:
game_lookup

Empty DataFrame
Columns: [game_id, game_date, home_team_id, away_team_id]
Index: []

In [9]:
total_games = int(162*30/2)

In [10]:
game_lookup['game_id'] = range(1,total_games+1)

In [11]:
# keep track of games played for each team 
games_played_by_team = {i:0 for i in range(1,31)}

# final record (list of 3-tuples)
game_record = []

date_record = pd.date_range(start='3/30/2023', end='10/1/2023').date

# for each date i 
for i in range(0,len(date_record)):
    
    # generate valid opponenets list for each date
    teams_avail_to_play = list(range(1,31))
    
    # for each team j
    for j in range(1,31): 
        
        #  (team can't play itself)
        try:
            teams_avail_to_play.remove(j)
        except:
            continue

        # if team i has played 162, skip to next team
        if (games_played_by_team[j] >161):
            continue

        #generate opponent guess
        try:
            rand= random.choice(teams_avail_to_play) 
        except:
            # empty, no valid opponents (move to next day)
            continue

#         # if opponent has played 162, keep picking until
#         if(games_played_by_team[rand]>161):
#             # if all teams played 162, then done
#             if(sum(games_played_by_team.values())==total_games):
#                 break
  

        # only assert the team to play is valid (team j already taken out)
        assert (rand in teams_avail_to_play)

        # add record of the game, then increment games played for both teams
        game_record.append((date_record[i],j,rand))
        games_played_by_team[j] += 1
        games_played_by_team[rand] +=1
                
        # team rand, played today
        teams_avail_to_play.remove(rand)
        
# assert full list of teams is 162       
assert(all(games == 162 for games in games_played_by_team.values()))

In [12]:
game_record.sort()

In [13]:
game_lookup[['game_date','home_team_id','away_team_id']]= game_record
game_lookup

      game_id   game_date home_team_id away_team_id
0           1  2023-03-30            1           11
1           2  2023-03-30            2           26
2           3  2023-03-30            3            5
3           4  2023-03-30            4           13
4           5  2023-03-30            6           19
...       ...         ...          ...          ...
2425     2426  2023-09-07           15           24
2426     2427  2023-09-07           17           22
2427     2428  2023-09-07           20           25
2428     2429  2023-09-07           23           26
2429     2430  2023-09-07           28           29

[2430 rows x 4 columns]

In [14]:
len(game_record)

2430