# Hailey Weinschenk - WSH - R&D Analyst  Questionnaire - March, 2023

# 1.

**After the season has ended, you are told a 90-win team played a home game against an 80-win
team. Without additional information about the two teams, what is the probability that the
home team won?**

In [1]:
# https://rpubs.com/twhite1992/MLB_CompBalance

# 2.

**Suppose you are starting an MLB team from scratch and can pick from the following cores of
players including their current contracts. Which would you pick and why?**

**A. Vladimir Guerrero Jr., Bo Bichette, and Alek Manoah**

**B. Jose Ramirez, Andres Gimenez, and Steven Kwan**

Before anything else, it must be said that a GM or team president cannot go wrong with either of these cores, which are both teeming with talent and youth. It is for this reason that the Jays and Guardians are thought of as amongst the most exciting, young teams in the MLB. With this being said however, let us break down these cores player-by-player with the simplest measures of performance for their 2022 seasons. This narrowly-timed analysis fails to account for past performance, but suffices at a basic level, as these statistics are the most relevant, recent measurables.

### Jays

- Vladimir Guerrero Jr, 1B: 
    - Age 24
    - .274/.339/.480 slash 
    - 32 HR 97 RBI 8 SB
    - 3.7 oWAR -0.7 dWAR
    - Signed thru 2023, 1 yr/$14.5M (23) 
    
- Bo Bichette, SS:
    - Age 25
    - .290/.333/.469
    - 24 HR 93 RBI 13 SB
    - 5.4 oWAR	0.8 dWAR
    - Signed thru 2025, 3 yrs/$33.6M (23-25) 
- Alec Manoah, RHP:
    - Age 23
    - 196.2 IP 180 SO 2.24 ERA
    - 6.0 dWAR
    - Pre Arb, Rookie Deal
    - Arb Eligible: 2025   Free Agent: 2028 
    
### Guardians

- Jose Ramirez, 3B: 
    - Age 30
    - .280/.355/.514 slash 
    - 29 HR	126 RBI 20 SB
    - 5.8 oWAR 0.3 dWAR
    - Signed thru 2028, 7 yrs/$141M (22-28)
    
- Andres Gimenez, SS:
    - Age 25
    - .297/.371/.466
    - 17 HR 69 RBI 20 SB
    - 5.6 oWAR	2.4 dWAR
    - Signed thru 2029, 7 yrs/$106.5M (23-29) & 30 team option  
- Steven Kwan, OF:
    - Age 25
    - .298/.373/.400
    - 6 HR 52 RBI 19 SB
    - 4 oWAR	1 dWAR
    -  Pre Arb Rookie Deal
    - Arb Eligible: 2025    Free Agent: 2028 

Overall, it is hard to argue that the Guardians players provided more overall value in the 2022 season. This is furthered by the Guardians suprising run to the ALDS, while the Jays failed to advance to the playoffs. This outperformance is slight, and might not exist if not for Guerrero's down year in 2022. Nevertheless, 


Perhaps the most striking thing about these past seasons is the sheer production of all players relative to their contracts. One could even make the argument that each player is outperforming their contract to a degree rarely seen on any team, let alone three occurrences. 

However, if tasked with deciding between these cores, there are some clear differences that are easy to spot. Namely, the age of the players and their subsequent contract situations vary greatly.

# 3.

# 4.

**Suppose Barry Bonds comes out of retirement and is back to his peak 2001 level, but there’s one
hitch: at his age, he’s only able to hit for one PA per game. He’s currently a free agent, and you
work for a contending team.**

**How would you quantify his value in a single plate appearance? What ingredients would you
need to help you calculate this? How could you then determine when you expect him to bat?**

**Next, how would you quantify Bonds’ value to your club? Describe your methodology in detail,
including any assumptions and information you would need.**

In this thought experiment, Barry Bonds and his mythical 2001 season (during which he ate his veggies) represent the absolute peak of what is statistically possible for a season. 

For this reason, the question could be rephrased to say "how valuable would one at bat of the best player ever be?". Regardless of this

# 5.

## player_lookup.csv Creation

In [2]:
from sqlalchemy import create_engine
import pandas as pd

db_connection_str = 'mysql+pymysql://root:furcal123@localhost:3306/nats'
db_connection = create_engine(db_connection_str)

player_lookup =  pd.read_sql_table('player_lookup',con= db_connection)

player_lookup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  0 non-null      int64
 1   name       0 non-null      object
 2   throws     0 non-null      object
dtypes: int64(1), object(2)
memory usage: 0.0+ bytes

In [3]:
from names_dataset import NameDataset

names = NameDataset(load_first_names=True,load_last_names=True)

mx_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'MX')
mx_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'MX')

us_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'US')
us_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'US')

jp_first = names.get_top_names(n = 1000, use_first_names=True,gender = 'M',country_alpha2 = 'JP')
jp_last = names.get_top_names(n = 1000, use_first_names=False,country_alpha2 = 'JP')

In [4]:
import itertools
import random
import re

random.seed(11)

def randomize_names(firsts,lasts,num_to_generate,nation_code):
    a =random.sample(list(itertools.product(list(firsts[nation_code]['M']),list(lasts[nation_code]))),num_to_generate)
    unpacked = []
    for a_tup in a:
        new = f'{a_tup[0]} {a_tup[1]}'
        while( bool(re.search(r"[^\x00-\x7F]+", new))):
            new = random.sample(list(itertools.product(list(firsts[nation_code]['M']),list(lasts[nation_code]))),k=1)
            new = f'{new[0][0]} {new[0][1]}'
        unpacked.append(new)
    return unpacked

The number of players to generate has to mirror the amount of players in this fictional league: mirroring MLB rules 30 teams, of 28 players each, usually 14 pitchers and 14 hitters.

In [5]:
player_num = 30*28+1
player_lookup['player_id'] = range(1,player_num)

In [6]:
us_names = randomize_names(us_first,us_last,int(player_num/3),'US')
jp_names = randomize_names(jp_first,jp_last,int(player_num/3),'JP')
mx_names = randomize_names(mx_first,mx_last,int(player_num/3),"MX")

all_names = us_names + jp_names + mx_names
random.shuffle(all_names)

player_lookup['name'] = all_names

Among pitchers who threw at least 10 innings in 2019,

    174 are left-handed
    472 are right-handed

That makes 26.9% left-handed.

In [7]:
throws = []
for i in range(1,player_num):
    rand = random.randint(0,9999)
    if(rand <= 2600):
        throws.append('L')
    elif(rand >2600):
        throws.append('R')
    else:
        throws.append('S') # switch pitcher 1 in a 10000
        
player_lookup['throws'] = throws

In [8]:
player_lookup

     player_id             name throws
0            1  Hiroaki Teshima      R
1            2      Franky Mayo      R
2            3    Crispin Roque      L
3            4     Paco Vazquez      R
4            5  Chava Christian      R
..         ...              ...    ...
835        836   Logan Bradford      R
836        837     Serch Padron      R
837        838       Ja Mireles      R
838        839      Naito Amano      R
839        840   Hidetoshi Kaji      R

[840 rows x 3 columns]

## game_lookup.csv Creation

The Major League Baseball (MLB) season schedule generally consists of 162 games for each of the 30 teams in the American League (AL) and National League (NL), played over approximately six months – a total of 2,430 games, p`,

In [9]:
game_lookup = pd.read_sql_table('game_lookup',con= db_connection)

game_lookup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_id       0 non-null      int64
 1   game_date     0 non-null      datetime64[ns]
 2   home_team_id  0 non-null      int64
 3   away_team_id  0 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 0.0+ bytes

In [10]:
total_games = int(162*30/2)

In [11]:
game_lookup['game_id'] = range(1,total_games+1)

In [12]:
# keep track of games played for each team 
games_played_by_team = {i:0 for i in range(1,31)}

# final record (list of 3-tuples)
game_record = []

date_record = pd.date_range(start='3/30/2023', end='10/1/2023').date

# for each date i 
for i in range(0,len(date_record)):
    
    # generate valid opponenets list for each date
    teams_avail_to_play = list(range(1,31))
    
    # for each team j
    for j in range(1,31): 
        
        #  (team can't play itself)
        try:
            teams_avail_to_play.remove(j)
        except:
            continue

        # if team i has played 162, skip to next team
        if (games_played_by_team[j] >161):
            continue

        #generate opponent guess
        try:
            rand= random.choice(teams_avail_to_play) 
        except:
            # empty, no valid opponents (move to next day)
            continue

#         # if opponent has played 162, keep picking until
#         if(games_played_by_team[rand]>161):
#             # if all teams played 162, then done
#             if(sum(games_played_by_team.values())==total_games):
#                 break
  

        # only assert the team to play is valid (team j already taken out)
        assert (rand in teams_avail_to_play)

        # add record of the game, then increment games played for both teams
        game_record.append((date_record[i],j,rand))
        games_played_by_team[j] += 1
        games_played_by_team[rand] +=1
                
        # team rand, played today
        teams_avail_to_play.remove(rand)
        
# assert full list of teams is 162       
assert(all(games == 162 for games in games_played_by_team.values()))

In [13]:
game_record.sort()

In [14]:
game_lookup[['game_date','home_team_id','away_team_id']]= game_record
game_lookup

      game_id   game_date home_team_id away_team_id
0           1  2023-03-30            1           17
1           2  2023-03-30            2           14
2           3  2023-03-30            3            8
3           4  2023-03-30            4           24
4           5  2023-03-30            5           21
...       ...         ...          ...          ...
2425     2426  2023-09-07           14           20
2426     2427  2023-09-07           15           18
2427     2428  2023-09-07           16           17
2428     2429  2023-09-07           19           28
2429     2430  2023-09-07           21           27

[2430 rows x 4 columns]

In [15]:
game_lookup.nunique()

game_id         2430
game_date        162
home_team_id      29
away_team_id      29
dtype: int64

## pitches.csv Creation

game_id: integer (references game_id of game_lookup)
pitch_no: integer (the overall pitch number of the game)
at_bat_no: integer (first AB of game has value 1, increments for each at bat)
pitch_of_at_bat: integer (first pitch of each AB has value 1, increments for each pitch thrown)
inning: integer
top_inning: integer (top of inning has value 1, bottom of inning has value 0)
pitcher_id: integer (references player_id of player_lookup)
batter_id: integer (references player_id of player_lookup)
velo: float (pitch velocity)

In [16]:
pitches =  pd.read_sql_table('pitches',con= db_connection)
pitches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          0 non-null      int64
 1   pitch_no         0 non-null      int64
 2   at_bat_no        0 non-null      int64
 3   pitch_of_at_bat  0 non-null      int64
 4   inning           0 non-null      int64
 5   top_inning       0 non-null      int64
 6   pitcher_id       0 non-null      int64
 7   batter_id        0 non-null      int64
 8   velo             0 non-null      float64
dtypes: float64(1), int64(8)
memory usage: 0.0+ bytes

Question 1157451: Major League Baseball now records information about every pitch thrown in every game of every season. Statistician Jim Albert compiled data about every pitch thrown by 20 starting pitchers during the 2009 MLB season. The data set included the type of pitch thrown (curveball, changeup, slider, etc.) as well as the speed of the ball as it left the pitcher’s hand. A histogram of speeds for all 30,740 four-seam fastballs thrown by these pitchers during the 2009 season is shown below, from which we can see that the speeds of these fastballs follow a Normal model with mean μ = 92.12 mph and a standard deviation of σ = 2.43 mph.

In [17]:
pitch_record = []
for one_game in game_lookup['game_id']:
    game_id = one_game
    home_no = game_lookup.loc[one_game-1]['home_team_id'] - 1
    away_no = game_lookup.loc[one_game-1]['away_team_id'] - 1
    pitch_no = 0
    at_bat_no = 0
    for one_half_inning in range(0,18):
        inning = int(one_half_inning/2) + 1
        top_inning = 1
        if((one_half_inning% 2) == 1):
            top_inning = 0
        if(top_inning == 1):
            pitcher_id = 30*home_no + random.randint(0,13)
        else:
            pitcher_id = 30*away_no + random.randint(0,13)
        for one_at_bat in range(0,3):
            at_bat_no += 1
            pitch_of_at_bat = 0
            if(top_inning == 1):
                batter_id = 30*away_no + random.randint(14,27)
            else:
                batter_id = 30*home_no + random.randint(14,27)
            for one_pitch in range(0,4):
                pitch_no +=1
                pitch_of_at_bat +=1
                velo = round(random.normalvariate( mu= 95, sigma=2),2)
                pitch_record.append((game_id,pitch_no,at_bat_no,pitch_of_at_bat,inning,top_inning,pitcher_id,batter_id,velo))

pitches[pitches.columns] = pitch_record

In [18]:
pitches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524880 entries, 0 to 524879
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   game_id          524880 non-null  float64
 1   pitch_no         524880 non-null  float64
 2   at_bat_no        524880 non-null  float64
 3   pitch_of_at_bat  524880 non-null  float64
 4   inning           524880 non-null  float64
 5   top_inning       524880 non-null  float64
 6   pitcher_id       524880 non-null  float64
 7   batter_id        524880 non-null  float64
 8   velo             524880 non-null  float64
dtypes: float64(9)
memory usage: 36.0 MB

In [19]:
pitches[pitches.columns[0:-1]] = pitches[pitches.columns[0:-1]].astype(int)

In [20]:
pitches.info()
pitches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524880 entries, 0 to 524879
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   game_id          524880 non-null  int64
 1   pitch_no         524880 non-null  int64
 2   at_bat_no        524880 non-null  int64
 3   pitch_of_at_bat  524880 non-null  int64
 4   inning           524880 non-null  int64
 5   top_inning       524880 non-null  int64
 6   pitcher_id       524880 non-null  int64
 7   batter_id        524880 non-null  int64
 8   velo             524880 non-null  float64
dtypes: float64(1), int64(8)
memory usage: 36.0 MB

,game_id,pitch_no,at_bat_no,pitch_of_at_bat,inning,top_inning,pitcher_id,batter_id,velo
0,1,1,1,1,1,1,5,498,96.02
1,1,2,1,2,1,1,5,498,95.92
2,1,3,1,3,1,1,5,498,95.05
3,1,4,1,4,1,1,5,498,96.49
4,1,5,2,1,1,1,5,498,93.60

In [21]:
game_lookup.to_csv('game_lookup.csv')
player_lookup.to_csv('player_lookup.csv')
pitches.to_csv('pitches.csv')

# 5b

In [22]:
# from datetime import date

# main = pd.merge(game_lookup, pitches, on='game_id', how='inner')
# main = pd.merge( main,  player_lookup, left_on='pitcher_id', right_on ='player_id', how='inner')
# print(main['game_date'].between(date(2023,3,30),date(2023,5,30)))
# main.loc[main['game_date'].between('2023-03-30','2023-04-01')]

showing the number
of games (n_games), number of pitches (n_pitches), and average fastball velocity (velo_avg)

In [32]:
from datetime import date

def create_date(split):
    return date(int(split[0]),int(split[1]),int(split[2]))

def pitcher_summary(player_lookup, game_lookup, pitches, start_date, end_date):
    return_df = pd.DataFrame([])
    
    main = pd.merge(game_lookup, pitches, on='game_id', how='inner')
    main = pd.merge( main,  player_lookup, left_on='pitcher_id', right_on ='player_id', how='inner')
    
    start_date = create_date(start_date.split('-'))
    end_date = create_date(end_date.split('-'))
    
    date_window = main.loc[main['game_date'].between(start_date,end_date,inclusive='both')]

    grouped = date_window.groupby('pitcher_id')
    num_pitches = grouped.count().iloc[:,0]
    ids = num_pitches.index
    name = grouped.max()['name']
    avg_velo =grouped.mean()['velo']
    
    game_count = {}
    for an_id in ids:
        num_games = len(list(date_window.groupby(['pitcher_id','game_id']).count().loc[an_id].index))
        game_count[an_id] = num_games
    temp = {'name':name,'game_count':pd.Series(game_count),'num_pitches':num_pitches,'avg_velo':avg_velo}
    return_df = pd.DataFrame(temp)
    print(return_df)

In [33]:
pitcher_summary(player_lookup,game_lookup,pitches,'2023-04-01','2023-05-01')

                name  game_count  num_pitches   avg_velo
1    Hiroaki Teshima          15          240  94.970625
2        Franky Mayo          19          300  95.026500
3      Crispin Roque          13          192  94.867188
4       Paco Vazquez          11          132  94.949545
5    Chava Christian          20          384  95.068125
..               ...         ...          ...        ...
820      Taro Tokuda          17          264  94.861894
821    Eber Espinosa          18          252  94.965040
822        Ej Nicole          15          240  95.223958
823        Brian Rmz          13          216  94.813472
840   Hidetoshi Kaji          21          336  94.759256

[392 rows x 4 columns]